body{
	background-image: url(../img/fon_reg.jpeg);
	background-repeat: no-repeat;
	background-size: 100% 900px;
}
.MainLogo{
	position: absolute;
	z-index: -1;
	width: 30%;
	
}
.contenedor{
	position: relative;
	z-index: -1;
	top: 20px;
	left: 5%;
	width: 80%;
}

.contenedor2{
	position: absolute;
	background-color: rgba(47, 92, 20, 0.8);
	z-index: -1;
	width: 100%;
	height: 20%;
	border-radius: 0px 0px 62px 62px;
-moz-border-radius: 0px 0px 62px 62px;
-webkit-border-radius: 0px 0px 62px 62px;
border: 0px solid #000000;
}

.contenedor3{
	position: absolute;left: 15%;
	background-color: rgba(250, 250, 250, 0.71);
	z-index: -1;
	top: 39%;
	width: 70%;
	height: 100%;
	border-radius: 16px 16px 0px 0px;
-moz-border-radius: 16px 16px 0px 0px;
-webkit-border-radius: 16px 16px 0px 0px;
border: 0px solid #000000;
}

.contenedor4{
	position: relative;
	top: 20px;
	width: 90%;
	left: 5%;
}
.btnAtras{
	position: absolute;
	display: block;
	width: 10%;
	height: 10%;
	left: -8%;
	top: -20%;
}

.btnAtras2{
	position: absolute;
	display: block;
	width: 10%;
	height: 10%;
	left: -8%;
	top: -10%;
}

@media screen and (max-width:640px) {

body{
	
	background-repeat: no-repeat;
	background-size: 100% 700px;
}
.MainLogo{
	position: absolute;
	top: 30%;
	z-index: -1;
	width: 30%;
	
}
.contenedor{
	position: relative;
	top: 30px;
	left: 2%;
}

.contenedor2{
	position: absolute;
	background-color: rgba(20, 90, 50,0.5);
	z-index: -1;
	width: 100%;
	height: 30%;
	border-radius: 0px 0px 62px 62px;
-moz-border-radius: 0px 0px 62px 62px;
-webkit-border-radius: 0px 0px 62px 62px;
border: 0px solid #000000;
}

.contenedor3{
	position: absolute; left: 20%;
	background-color: rgba(213, 245, 227,0.5);
	z-index: -1;
	top: 50%;
	width: 60%;
	height: 50%;
	border-radius: 16px 16px 0px 0px;
-moz-border-radius: 16px 16px 0px 0px;
-webkit-border-radius: 16px 16px 0px 0px;
border: 0px solid #000000;
}

.contenedor4{
	position: relative;
	top: 20px;
	width: 90%;
	left: 5%;
}


}